@page
@model RestReviewSystem.Pages.CustomerReviews.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>

<div>
    <h4>CustomerReview</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CustomerReview.Customer)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CustomerReview.Customer.CustomerName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CustomerReview.Restaurant)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CustomerReview.Restaurant.RestaurantName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CustomerReview.Review)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CustomerReview.Review)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CustomerReview.Rating)
        </dt>
        <dd class="col-sm-10">
            @for (int i = 0; i < (Model.CustomerReview.Rating); i++)
            {
                <span class="glyphicon glyphicon-star"></span>
            }
            @for (int i = Model.CustomerReview.Rating; i < 5; i++)
            {
                <span class="glyphicon glyphicon-star-empty"></span>
            }
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.CustomerReview.CustomerReviewId">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
