@page
@model RestReviewSystem.Pages.CustomerReviews.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Customer Reviews</h1>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CustomerReview[0].CustomerReviewId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CustomerReview[0].Customer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CustomerReview[0].Restaurant)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CustomerReview[0].Review)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CustomerReview[0].Rating)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.CustomerReview)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CustomerReviewId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Customer.CustomerName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Restaurant.RestaurantName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Review)
            </td>
            <td class="text-nowrap">
                @for (int i = 0; i < (item.Rating); i++)
                {
                    <span class="glyphicon glyphicon-star"></span>
                }
                @for (int i = item.Rating; i < 5; i++)
                {
                    <span class="glyphicon glyphicon-star-empty"></span>
                }
            </td>
            <td class="text-nowrap">
                <a asp-page="./Edit" asp-route-id="@item.CustomerReviewId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.CustomerReviewId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.CustomerReviewId">Delete</a>
            </td>
        </tr>
        }
    </tbody>
</table>
