@page
@model RestReviewSystem.Pages.ReviewCategories.DetailsModel

@{
    ViewData["Title"] = "Details";
}
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>

<h1>Details</h1>

<div>
    <h4>Review Category</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ReviewCategory.CustomerReviewId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ReviewCategory.CustomerReviewId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CustomerReview.Customer.CustomerName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CustomerReview.Customer.CustomerName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CustomerReview.Restaurant.RestaurantName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CustomerReview.Restaurant.RestaurantName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ReviewCategory.FoodQuality)
        </dt>
        <dd class="col-sm-10">
            @for (int i = 0; i < (Model.ReviewCategory.FoodQuality); i++)
            {
                <span class="glyphicon glyphicon-star"></span>
            }
            @for (int i = Model.ReviewCategory.FoodQuality; i < 5; i++)
            {
                <span class="glyphicon glyphicon-star-empty"></span>
            }
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ReviewCategory.Service)
        </dt>
        <dd class="col-sm-10">
            @for (int i = 0; i < (Model.ReviewCategory.Service); i++)
            {
                <span class="glyphicon glyphicon-star"></span>
            }
            @for (int i = Model.ReviewCategory.Service; i < 5; i++)
            {
                <span class="glyphicon glyphicon-star-empty"></span>
            }
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ReviewCategory.Cleanliness)
        </dt>
        <dd class="col-sm-10">
            @for (int i = 0; i < (Model.ReviewCategory.Cleanliness); i++)
            {
                <span class="glyphicon glyphicon-star"></span>
            }
            @for (int i = Model.ReviewCategory.Cleanliness; i < 5; i++)
            {
                <span class="glyphicon glyphicon-star-empty"></span>
            }
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.ReviewCategory.ReviewCategoryId">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
