@page
@model RestReviewSystem.Pages.Restaurants.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Restaurant</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Restaurant.RestaurantName" class="control-label"></label>
                <input asp-for="Restaurant.RestaurantName" class="form-control" />
                <span asp-validation-for="Restaurant.RestaurantName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Restaurant.AvgRating" class="control-label"></label>
                <input asp-for="Restaurant.AvgRating" class="form-control" />
                <span asp-validation-for="Restaurant.AvgRating" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Restaurant.Avgcostofmeal" class="control-label"></label>
                <input asp-for="Restaurant.Avgcostofmeal" class="form-control" />
                <span asp-validation-for="Restaurant.Avgcostofmeal" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Restaurant.VegChoices" /> @Html.DisplayNameFor(model => model.Restaurant.VegChoices)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Restaurant.BarAavialable" /> @Html.DisplayNameFor(model => model.Restaurant.BarAavialable)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="Restaurant.NoOFEmployees" class="control-label"></label>
                <input asp-for="Restaurant.NoOFEmployees" class="form-control" />
                <span asp-validation-for="Restaurant.NoOFEmployees" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Restaurant.OpeningTime" class="control-label"></label>
                <input asp-for="Restaurant.OpeningTime" class="form-control" />
                <span asp-validation-for="Restaurant.OpeningTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Restaurant.ClosingTime" class="control-label"></label>
                <input asp-for="Restaurant.ClosingTime" class="form-control" />
                <span asp-validation-for="Restaurant.ClosingTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Restaurant.TypeOfCuisine" class="control-label"></label>
                <input asp-for="Restaurant.TypeOfCuisine" class="form-control" />
                <span asp-validation-for="Restaurant.TypeOfCuisine" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Restaurant.PaymentMode" class="control-label"></label>
                <input asp-for="Restaurant.PaymentMode" class="form-control" />
                <span asp-validation-for="Restaurant.PaymentMode" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Restaurant.DeliveryAvailable" /> @Html.DisplayNameFor(model => model.Restaurant.DeliveryAvailable)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Restaurant.BuffetAvailable" /> @Html.DisplayNameFor(model => model.Restaurant.BuffetAvailable)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Restaurant.CafeAvailable" /> @Html.DisplayNameFor(model => model.Restaurant.CafeAvailable)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
